.form__submit-button {
  max-width: 358px;
  width: 100%;
  margin: 48px 36px 36px;
  max-height: 50px;
  height: 100%;
  border-radius: 2px;
  background-color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(22 / 18);
  color: #fff;
}
