.form__submit-button {
  max-width: 358px;
  width: 100%;
  margin: 48px 36px 36px;
  max-height: 50px;
  height: 100%;
  border-radius: 2px;
  background-color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: calc(22 / 18);
  color: #fff;
}

@media screen and (max-width: 890px) {
  .form__submit-button {
    max-width: 238px;
    max-height: 46px;
    margin: 22px 25px 0;
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}
