.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: calc(29 / 24);
  max-width: 330px;
  margin: 34px 64px 0 36px;
}

@media screen and (max-width: 890px) {
  .popup__title {
    max-width: 282px;
    margin: 22px 25px 0;
  }
}
