.profile__link-change {
  display: flex;
  border: 1px solid #ffffff;
  align-items: center;
  justify-content: center;
  margin: 9px 0 0 16px;
  width: 24px;
  height: 24px;
  align-self: center;
  background: transparent;
}

@media screen and (max-width: 890px) {
  .profile__link-change {
    margin: 0 28px 0 10px;
    width: 18px;
    height: 18px;
  }
}
