.profile__info {
  display: flex;
  flex-direction: row;
  margin: 22px 0 21px 30px;
  flex-wrap: wrap;
  min-width: 415px;
  justify-content: left;
}

@media screen and (max-width: 890px) {
  .profile__info {
    margin: unset;
    margin-top: 26px;
    min-width: unset;
    max-width: 290px;
    justify-content: center;
  }
}
