.photo-grid__like-button {
  background: url(../../../images/Vector.svg);
  width: 21px;
  height: 19px;
  cursor: pointer;
  padding: 0;
  margin: 0 0 3px 0;
  border: 0px;
}

.photo-grid__like-button:hover {
  opacity: 0.5;
}
/*
.photo-grid__like-button:disabled {
  opacity: 1;
} */
